aioesphomeapi==28.0.0
aiohappyeyeballs==2.4.4
async_interrupt==1.2.0
backoff==2.2.1
certifi==2024.12.14
cffi==1.17.1
chacha20poly1305-reuseable==0.13.2
charset-normalizer==3.4.1
coloredlogs==15.0.1
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
filelock==3.17.0
flatbuffers==24.12.23
fonttools==4.55.4
fsspec==2024.12.0
humanfriendly==10.0
idna==3.10
ifaddr==0.2.0
Jinja2==3.1.5
joblib==1.4.2
kiwisolver==1.4.8
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.10.0
more-itertools==10.6.0
mpmath==1.3.0
networkx==3.4.2
noiseprotocol==0.3.1
numba==0.61.0
numpy==2.1.3
onnxruntime==1.20.1
openai-whisper==20240930
packaging==24.2
pillow==11.1.0
protobuf==5.29.3
pycparser==2.22
pyparsing==3.2.1
python-dateutil==2.9.0.post0
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.0
scipy==1.15.0
setuptools==75.8.0
six==1.17.0
sounddevice==0.5.1
soundfile==0.13.0
sympy==1.13.1
threadpoolctl==3.5.0
tiktoken==0.8.0
torch==2.5.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
webrtcvad==2.0.10
websockets==14.1
wyoming==1.6.0
zeroconf==0.139.0
