[Unit]
Description=Zigbee2MQTT
After=network.target

[Service]
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm start --prefix /opt/smart-hub/zigbee
WorkingDirectory=/opt/smart-hub/zigbee
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10s
User=root

[Install]
WantedBy=multi-user.target